dist: xenial
sudo: false

language: scala
scala:
  - 2.12.10

sbt_args: -Dfile.encoding=UTF8 -Dsbt.color=always -Dsbt.supershell=false

jdk:
  - openjdk8
  - openjdk11

before_install:
  - git fetch --tags

stages:
  - name: format
  - name: test
  - name: release
    if: ((branch = master AND type = push) OR (tag IS present)) AND NOT fork

jobs:
  include:
    - stage: format
      script: sbt fmtCheck
    - stage: release
      jdk: openjdk8
      script: sbt ci-release

cache:
  directories:
  - "$HOME/.coursier/cache"
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt"

before_cache:
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" | xargs rm
  - find $HOME/.ivy2/cache -name "*SNAPSHOT*" | xargs rm -rf
  - find $HOME/.ivy2/cache -name "*.lock" | xargs rm -rf
  - find $HOME/.coursier/cache -name "*.lock" -type f -delete
