<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="PATTERN" value="[%date{ISO8601}][%highlight(%-5level)][%green(%thread)][%cyan(%logger{36})] %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <!-- reset all previous level configurations of all j.u.l. loggers -->
        <resetJUL>true</resetJUL>
    </contextListener>

    <logger name="io.confluent" level="OFF"/>
    <logger name="org.glassfish.jersey" level="OFF"/>
    <logger name="org.hibernate.validator" level="OFF"/>
    <logger name="tamer" level="TRACE"/>
    <logger name="tamer.registry" level="WARN"/>
<!--    <logger name="org.apache.kafka.clients.NetworkClient" level="DEBUG"/>-->

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>